<!DOCTYPE html>
<html lang="hr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head">
    <meta charset="UTF-8">
    <title>Money saver</title>
</head>
<body>
<div th:replace="fragments::navbar"></div>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="container">
            <div>
                <p th:text="#{expense_inserted.success_pt1} + ${expense.name} + #{expense_inserted.success_pt2} + ${expense.cost} + ' kn.'">
                    <br>
                <p th:text="#{expense_inserted.desc_pt1} + ${expense.typeOfExpense} + #{expense_inserted.desc_pt2} + ${currentDate} + '.'">
                <p th:text="#{expense_inserted.desc_pt3} + ${wallet.sum}"></p>
                <br>
            </div>
            <div>
                <a th:href="@{/expenses/new}">
                    <button type="button" class="btn btn-primary" th:text="#{index.insert_expense}">Unesi novi trošak
                    </button>
                </a>
                <a th:href="@{/expenses/reset-wallet}" sec:authorize="hasRole('ADMIN')">
                    <button type="button" class="btn btn-danger" th:text="#{expense_inserted.reset_wallet}">Resetiraj
                        novčanik
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
<div th:replace="fragments::footer"></div>
</body>
</HTML>