<!DOCTYPE html>
<html lang="hr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments::head">
    <meta charset="UTF-8">
    <title>Money saver</title>
</head>
<body>
<div th:replace="fragments::navbar"></div>

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card">
                <img class="card-img-top" th:src="@{/images/piggy-bank.png}"
                     title="Icon made by Freepik www.flaticon.com"
                     alt="Cover image"
                     style="width:50%">
                <div class="card-body">
                    <a th:href="@{/expenses/new}" class="btn btn-primary stretched-link">Unesi novi trošak</a>
                </div>
            </div>
        </div>

        <div class="col-1"></div>

        <div class="col">
            <div class="card">
                <img class="card-img-top" th:src="@{/images/magnifier.png}"
                     title="Icon made by Egor Rumyantsev www.flaticon.com"
                     alt="Cover image"
                     style="width:50%">
                <div class="card-body">
                    <a th:href="@{/expenses/searchForm}" class="btn btn-primary stretched-link">Pretraži troškove</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments::footer"></div>
</body>
</HTML>