<!DOCTYPE html>
<html lang="hr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/style/bootstrap.css}">
    <link rel="icon" th:href="@{/resources/res/baseline_monetization_on_black_18dp.png}" type="image/gif" sizes="16x16">
    <title>Money saver</title>

</head>
<body>
<p>Hello world this is just a test!</p>
</body>
</html>